.container{
    margin: auto ;
    width: 95%;
}
body {
    color: #000000;
    background-color: #fff;
}
.nav-container{
    width: 90%;
    margin: auto;
}
section{
    height: 100vh;
}
.padding{
    padding: 50px 0;
}
