#aboutme {
  height: fit-content;
  padding: 0;
  .about-main {
    height: 75vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 20px 30px;
    border-radius: 30px;
    .left-side {
      width: 60%;
      h1 {
        font-size: 6rem;
        margin: 0 0 40px 0;
        font-family: $secondary-font;
      }
      p {
        font-weight: 500;
        font-size: 1.9rem;
        font-family: $primary-font;
       
      }
    }
    .right-side {
      width: 35%;
      // border: 1px solid red;
      // height: 100%;
      margin-top: 69px;
      margin-right: -2%;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }
  }
}
// responsive for mobile
@media screen and (max-width: 382.5px) {
  #aboutme{
    .about-main{
      height: fit-content;
      flex-direction: column;
      gap: 0;
      justify-content: center;
      align-items: center;
      .left-side{
        width: 100%;
        h1{
          font-size: 2.4rem;
          margin: 0 0 10px 0;
        }
        p{
            font-size: 18.9px;
            text-align: left;
        }
      }
      .right-side{
        width: 100%;
        img{
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 482.5px) {
   #aboutme{
    .about-main{
      height: fit-content;
      flex-direction: column;
      gap: 0;
      justify-content: center;
      align-items: center;
      .left-side{
        width: 100%;
        h1{
          font-size: 2.7rem;
          margin: 0 0 10px 0;
        }
        p{
            font-size: 19px;
            text-align: left;
        }
      }
      .right-side{
        width: 100%;
        img{
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 575.98px) {
   #aboutme{
    .about-main{
      height: fit-content;
      flex-direction: column;
      gap: 0;
      justify-content: center;
      align-items: center;
      .left-side{
        width: 100%;
        h1{
          font-size: 2.7rem;
          margin: 0 0 10px 0;
        }
        p{
            font-size: 19px;
            text-align: left;
        }
      }
      .right-side{
        width: 100%;
        img{
          width: 100%;
          height: 350px;
        }
      }
    }
  }
}
//responsive for tab
@media screen and (min-width: 575.5px) and (max-width: 900px) {
 #aboutme{
    .about-main{
      height: fit-content;
      flex-direction: column;
      gap: 0;
      justify-content: center;
      align-items: center;
      .left-side{
        width: 100%;
        h1{
          font-size: 2.7rem;
          margin: 0 0 10px 0;
        }
        p{
            font-size: 19px;
            text-align: left;
        }
      }
      .right-side{
        width: 100%;
        img{
          width: 100%;
          height: 550px;
        }
      }
    }
  }
}
//responsive for laptops
@media screen and (min-width: 900px) and (max-width: 1500px){
   #aboutme{
    .about-main{
      height: fit-content;
      flex-direction: row;
      gap: 0;
      justify-content: center;
      align-items: center;
      .left-side{
        width: 100%;
        h1{
          font-size: 3.7rem;
          margin: 0 0 10px 0;
        }
        p{
            font-size: 1.5rem;
            text-align: left;
        }
      }
      .right-side{
        width: 100%;
        img{
          width: 100%;
          height: 500px;
        }
      }
    }
  }

}