header {
  position: fixed;
  width: 100%;
  margin-top: -8px;
  background-color: #fff;
  z-index: 100;

  nav {
    .nav-main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 100px;
        img {
          width: 100%;
        }
      }

      .hamburger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        .nav-btn {
          button{
            a{
              color: #fff;
              text-decoration: none;
            }
          }
          .btn {
            width: 175px;
            height: 45px;
            background: linear-gradient(to top, #00154c, #12376e, #23487f);
          
            border-radius: 50px;
            border: none;
            cursor: pointer;
            position: relative;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
            overflow: hidden;

            span {
              font-size: 16.5px;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-weight: 600;
              font-family: $primary-font;
              transition: top 0.5s;
            }

            .btn-text-one {
              position: absolute;
              width: 100%;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }

            .btn-text-two {
              position: absolute;
              width: 100%;
              top: 150%;
              left: 0;
              transform: translateY(-50%);
            }

            &:hover .btn-text-one {
              top: -100%;
            }

            &:hover .btn-text-two {
              top: 50%;
            }
          }
        }

        .icon {
          button {
            font-size: 2.5rem;
            cursor: pointer;
            border: none;
            background: transparent;
          }
        }
      }
    }
  }

  .nav-inside {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f76d04;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%);
    z-index: 200;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      margin-top: 5%;

      li {
        list-style: none;
        margin: 15px 25px;
        font-size: 4rem;
        font-weight: 600;
        transition: transform 0.3s ease, color 0.3s ease;
        font-family: $primary-font;
        cursor: pointer;
        a {
          text-decoration: none; // remove underline
          color: #fff;

          &:hover {
            color: #000;
            transition: 300ms ease-in-out;
            text-decoration: none; // ensure no underline on hover
          }
        }
      }
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 25px;
      background: none;
      border: none;
      color: #fff;
      font-size: 70px;
      cursor: pointer;
      transition: 0.3s;
    }

    &.active {
      transform: translateX(0);

      // hide sidebar when menu is open
      + #sidebar {
        display: none;
      }
    }
  }
}

// SIDEBAR
#sidebar {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
  height: 100vh;
  text-align: center;
  z-index: 50;

  .sidemain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    right: -7px;
    gap: 25px;

    .social-media {
      position: relative;
      .git {
        a {
          color: #333333;
        }
      }
      .fb {
        a {
          color: #1877f2;
        }
      }
      .linkdin {
        a {
          color: #0a66c2;
        }
      }

      .ig {
        a {
          color: #e1306c;
        }
      }
      button {
        border: none;
        background-color: transparent;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        a {
          font-size: 2.2rem;
          color: #000;
          transition: color 0.3s ease;
          text-decoration: none;
        }

        p {
          opacity: 0;
          transform: translateX(30px);
          color: #666363;
          font-size: 14px;
          font-weight: 500;
          margin: 0;
          transition: all 0.4s ease;
        }

        &:hover p {
          opacity: 1;
          transform: translateX(0);
        }

        &:hover a {
          color: #4e4c4c;
        }
      }
      .git:hover a {
        color: #333333; // GitHub gray-black
      }

      .fb:hover a {
        color: #1877f2; // Facebook blue
      }

      .linkdin:hover a {
        color: #0a66c2; // LinkedIn blue
      }

      .ig:hover a {
        color: #e1306c; // Instagram pink-red
      }
    }
  }
}
