header {
  nav {
    .nav-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
          width: 130px;
            img{
                width: 100%;
            }
        }
        .hamburger{
            font-size: 2.5rem;
            cursor: pointer;

        }
        .nav-bar{
            border: 2px solid red;
            ul{
                li{
                    list-style: none;
                    display:inline-block;
                    margin:0px  25px;
                    font-size: 19px;
                }
            }
        }
    }
  }
}
